<!-- <ng-content selector="[action]"></ng-content>
<ng-content selector="[title]"></ng-content> -->
<ng-content></ng-content>
<div flex="row">
    <div class="intent">
        <i class="material-icons">notification_important</i>
        <span>5</span>
    </div>   
    <div class="intent">
        <i class="material-icons">email</i>
        <span>10+</span>
    </div>
    <div class="user" flex="column" center>
        <label>Lionel Hickey<span>LH</span></label>                    
    </div>    
</div>